<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LatihanAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".livedata.MyLiveActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".api.ui.RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.ProfileNavActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".viewgroup.ConstrainViewActivity"
            android:exported="false" />
        <activity
            android:name=".viewgroup.ConstrainActivity"
            android:exported="false" />
        <activity
            android:name=".viewgroup.ViewActivity"
            android:exported="false" />
        <activity
            android:name=".intent.LatihanObjectActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveWithObjectActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveDataActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MoveActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".intent.MyIntentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BarVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>